.pictoimage {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.pictogram .btn {
    z-index: 10;
    position: absolute;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;       
    transition: opacity 0.2s;
}

.pictogram.small .btn {
    font-size: 80%;
}


.pictotext {
    top: 0;
    left: 0;
}

#rendering .pictotext {
    opacity: 0.0;
}

#rendering:hover .pictotext {
    opacity: 0.8;
}

.btn-image {
    opacity: 0.0;
    margin: auto;
    left: 0;
    right: 0;
    top: 5em;
}

#rendering .pictogram:hover .pictotext,
#rendering .pictogram .pictotext:focus,
.pictogram:hover .btn-image,
.pictogram .btn-image:focus {
    opacity: 1.0;
}