input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.pictoimage {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.pictogram .btn {
    z-index: 10;
    position: absolute;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;       
    transition: opacity 0.2s;
}

.pictogram.small .btn {
    font-size: 80%;
}


.pictotext {
    top: 0;
    left: 0;
}
.btn-deltext {
    top: 0;
    right: 0;
    z-index: 11;
    opacity: 0.0;
}

.edit-text .btn-deltext {
    display: none;
}

#rendering .pictotext {
    opacity: 0.0;
}


#rendering:hover .pictotext,
#rendering:hover .btn-deltext {
    opacity: 0.8;
}

form {
    cursor: pointer;
}


.btn-image {
    opacity: 0.0;
    margin: auto;
    left: 0;
    right: 0;
    top: 5em;
    display: block;
    cursor: pointer;
}

#rendering .pictogram:hover .pictotext,
#rendering .pictogram .pictotext:focus,
.pictogram:hover .btn-image,
.pictogram .btn-image:focus-within,
.pictogram .pictogram:hover .btn-deltext, 
.pictogram .btn-deltext:focus {
    opacity: 1.0;
}

.dragover {
    background: #82bfff;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.active .dragover {
    display: block;
}


.active form, .active img,
.active button {
    display: none !important;
}

#qrcode {
    image-rendering: pixelated;
}

.devBuf p {
    display: none;
}
.devBuf.warning p {
    display: block;
}
